body {
  background-color: #9189da;
}
.validation {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #9189da;
    border-radius: 5px;
    background: #9fc1c0
  }

  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: sans-serif;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #9189da;
    border-radius: 5px;
  }
  select {
    width: 80px;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #9189da;
    color: #fff;
    cursor: pointer;
  }